// đặt riêng để tối ưu code (màu khoảng cách kích thước quan trọng)
$c0:transparent;
$c1-100: #f7f7f7;
$c1-200: #222222;
$c1-300: #2a73dc;
$c1-350:#3b5999;
$c1-400: #e5e5e5;
$c2-800: #000;
$c3-100: #FFF;
$c4-100: #1d365e;
$text-xs: 12px;
$text-sm: 14px;
$text-base:16px;
$text-md:18px;
$text-lg:20px;
$text-xl:30px;
$text-light:300;
$text-regular:400;
$text-semiBold:600;
$text-Bold:700;
